*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}










/*Footer*/

.banner-sub{
    background-image: url(./assets/hero-medium-console-7x2-xl.jpg.adapt.crop7x2.1920w.jpg);
    height: 540px;
    background-size: cover;
}
.container-info-register{
    padding: 160px 976px 32px 400px;
    display: flex;
    flex-direction: column;
}
.container-info-register img{
    max-width: 240px;
    position: relative;
    bottom: 25px;
}
.container-info-register p{
    width: 530px;
    height: 81px;
    color: white;
    font-size: 16px;
    text-align: center;
    text-align: justify;
    line-height: 25px;
    margin-bottom: 15px;
}
.buttons-2{
    width: 160px;
    height: 60px;
    border: 2px solid white;
    border-radius: 3px;
    background-color: transparent;
    transition: 0.1s;
    color: white;
    cursor: pointer;
}
.buttons-2:hover{
    box-shadow: 0px 0px 0px 2px white;
    border: transparent;
}
.buttons-2 a{
    color: white;
}

.container-other-info{
    background-image: url(./assets/ea-section-bg-esrb-parents-blue-xl.jpg.adapt.1920w.jpg);
    height: 110px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
}
.container-other-info h2{
    width: 535px;
}

.buttons-1{
    width: 160px;
    height: 60px;
    border: 2px solid black;
    border-radius: 2px;
    background-color: transparent;
    transition: 0.1s;
    cursor: pointer;
}
.buttons-1:hover{
    box-shadow: 0px 0px 0px 2px black;
    border: 0;
}
.buttons-1 a{
    color: black;
}

.container-info-social{
    background-color: #EAEAEA;
    height: 304px;
    display: flex;
    flex-direction: column;
}
.container-info-social > p{
    padding-left: 400px;
    padding-top: 50px;
    font-size: 14px;
}
.container-info-social > p > a{
    color: red;
}
.container-info-social hr{
    width: 1120px;
    display: flex;
    margin-left: 21%;
    margin-top: 20px;
}

.container-info-social-link-icon{
    width: 1120px;
    display: flex;
    justify-content: space-between;
    margin-left: 21%;
    margin-top: 40px;
    
}
.link-utili{
    width: 800px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    
}
.link-utili a{
    color: black;
    font-size: 14px;
}

.social{
    width: 240px;
}
.social p{
    font-size: 14px;
    font-weight: bold;
}
.social img{
    width: 30px;
    margin-left: 10px;
    margin-top: 10px;
}
.container-footer-info > div > img{
    width: 64px;
}
.container-footer-info-1 {
    margin-top: 20px;
    margin-left: 21%;
    display: flex;
}
.container-footer-info-1 ul{
    display: flex;
    align-items: center;
}
.container-footer-info-1 ul li{
    margin-left: 30px;
    margin-bottom: 10px;
}
.container-footer-info-1 > ul > li > a{
    color: black;
    font-weight: bold;
    font-size: 14px
}